@import './variables.scss';

.course-card-container {
  cursor: pointer;
  margin: 15px 0 !important;
  max-width: 280px !important;
  max-height: 383px !important;

  img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 150px;
  }

  &:nth-child(2) {
    margin: 15px 10px !important;
  }

  .course-card-header {
    margin-top: 5px !important;
  }

  .rating-and-prices {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;

    &.user-profile {
      display: block;
    }

    label {
      margin-left: 10px;
    }

    .bold {
      font-family: $primary-font-bold;
      font-size: 16px;
    }
  }

  .position-right {
    margin-left: auto !important;
    float: right;
  }

  .position-left {
    float: left;
  }

  .buttons-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .courses_single_progress_bar {
    margin: 0 0 20px;
    position: relative;
    height: 5px;
    background-color: #e0e0e0;
  }
  .courses_single_progress_filled {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #17d292;
  }
}

.cards-wrapper {
  .course-card-container {
    margin: 0 auto 50px auto !important;
    width: 100% !important;
    max-width: 340px !important;
  }
}

@media (min-width: $screen-sm) {
  .cards-wrapper {
    .course-card-container {
      margin: 0 1% 50px !important;
      width: 48% !important;
      max-width: 48% !important;
    }
  }
}

@media (min-width: $screen-md) {
  .cards-wrapper {
    &.full-width {
      .course-card-container {
        width: 31.33% !important;
        max-width: 31.33% !important;
      }
    }
  }
}

@media (min-width: $screen-lg) {
  .cards-wrapper {
    .course-card-container {
      width: 31.33% !important;
      max-width: 31.33% !important;
    }
    &.full-width {
      .course-card-container {
        width: 23% !important;
        max-width: 23% !important;
      }
    }
  }
}

