@import './variables.scss';

.footer-container {
  padding: 50px 0;
  width: 100%;
  border-top: 1px solid $footer-top-border;
  display: flex;
  justify-content: center;

  @media (max-width: $screen-md) {
    padding: 15px 0;
  }

  .footer-row {
    width: 100%;
    max-width: 1200px;
  }
}