@import './variables.scss';

.header-carousel {
    .carousel { 
        .control-arrow {
            border: 0;
            border-radius: 23px;
            background-color: #fff;
            font-size: 24px;
            height: 92px;
            margin-top: -46px;
            position: absolute; 
            opacity: 1;
            top: 50%;
            width: 48px;
            z-index: 2000;

            &:before {
                content: '';
                border: none; 
                border-bottom: 1px solid #273044;
                border-left: 1px solid #273044;
                display: block;
                height: 17px;
                margin-left: 15px;
                transform: rotate(45deg);
                transition: .3s ease;
                width: 17px;
            }
            &.control-prev {
                left: 50px;
            }
            &.control-next{
                right: 50px;
                &:before {
                    margin-left: 8px;
                    transform: rotate(225deg);
                }
            }

            &:hover {
                background-color: $secondary-color;
                &:before {
                    border-color: #fff;
                }
            }
        }
        .slide {
            background-color: $category-bg;
            padding: 65px 0;
        }

        .slide .img-slide {
            border-radius: 10px;
            float: left;
            height: 350px;
            overflow: hidden;
            width: 43%;
            img {
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
    }
    .slide-information {
        float: right;
        padding: 20px 0 0 60px;
        width: 57%;
        >.row {
            margin-bottom: 30px;
        }
    }

    .course-details {
        >div{
            margin-right: 35px;
        }
    }
    
    .profile-info-image {
        img {
            border-radius: 50%;
            height: 50px;
            object-fit: cover;
            overflow: hidden;
            width: 50px;
        }
    }
}

.vertical-align-center {
    display: flex;
    align-items: center;
}
