@import './variables.scss';

.icon-blue {
    color:$blue-secondary;
    margin:0 5px -2px;
}

.icon-heart-wishlisted {
    border: 1px solid $category-font-color;
    border-radius: 50%;
    color: $rose-color;
    display: inline-block;
    padding: 6px;
    position: relative;
    height: 30px;
    width: 30px;
    transition: .5s ease;
}