@import './variables.scss';

.input-primary.ui.input {
    margin-bottom: 25px;
    width: 100%;
    input {
        border-radius: 0;
        border: 2px solid $input-primary-color;
        background: $input-primary-color;
        color: $category-font-color;
        display: block;
        height: 45px;
        line-height: 1.42857143;
        padding: 6px 12px;
    }
}

.ui.form .textarea-primary {
    border-radius: 0;
    border: 2px solid $input-primary-color;
    background: $input-primary-color;
    display: block;
    color: $category-font-color;
    line-height: 1.42857143;
    margin-bottom: 25px;
    min-height: 160px;
    padding: 6px 12px;
}

@media (min-width: $screen-lg) {
    .input-primary.ui.input.lg-half-width {
        width: 47%;
    }
}