@import './variables.scss';

.log-in-modal-container {
  background-color: white;
  padding: 0 50px;
  height: 90%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  // justify-content: center;

  .log-in-modal-recaptcha {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .log-in-modal-divider {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: black;
    margin: 50px 0px 8px 0;

    @media (max-width: $screen-sm) {
      margin: 20px 0px 8px 0;
    }

    &::before, &::after {
      content: "";
      flex-grow: 1;
      background: black;
      height: 1px;
      font-size: 0px;
      line-height: 0px;
      margin: 0px 8px;
    }
  }

  .log-in-modal-social {
    display: flex;
    justify-content: center;

    svg {
      color: $primary-color;
    }
  }
  
  .remember-and-button {
    display: flex;
    align-items: center;
    margin-top: 20px;

    .remember-and-button-col {
      display: flex;
      justify-content: center;

      @media (max-width: $screen-sm) {
        margin: 8px 0;
      }
    }

    .ui.checkbox input:focus~label {
      color: black;
    }
    .checkbox {
      label {
        color: black;
        font-family: $primary-font-thin;
      }
    }
  }
}