@import "./variables.scss";

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-close {
    color: white;
    position: absolute;
    cursor: pointer;
    left: 68%;
    font-size: 18px;
    @media (max-width: $screen-sm) {
      left: 82%;
    }
  }

  .modal-container {
    min-width: 325px;
    min-height: 300px;
    background-color: white;

    .modal-tab {
      height: 100%;

      .menu {
        margin-bottom: 0;

        .item {
          width: 50%;
          display: flex;
          justify-content: center;
          height: 60px;
          background-color: $modal-tab-bg-color;
          font-size: 18px;

          &:hover {
            background-color: $modal-tab-bg-color !important;
          }

          &.active {
            border-color: #385bce !important;
            background-color: $modal-tab-bg-color-active !important;
          }
        }
      }
    }

    .coupons-modal-submit {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 30px;

      .coupons-modal-button {
        width: 60%;
        border-radius: 0;
        background-color: transparent;
        border: 1px solid $primary-color;
        color: $primary-color;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $primary-color;
          color: white;
        }
      }
    }

    .questions-modal-submit {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 30px;

      .questions-modal-button {
        width: 60%;
        border-radius: 0;
        background-color: transparent;
        border: 1px solid $primary-color;
        color: $primary-color;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: $primary-color;
          color: white;
        }
      }
    }
  }
}
