.social-media-icon-container {
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  &:hover {
    color: white;
  }

  &:focus {
    outline: 0;
  }
}