@import './variables.scss';

.thin {
  font-family: $primary-font-thin;
}

.light {
  font-family: $primary-font-light;
}

.regular {
  font-family: $primary-font-regular;
}

.bold {
  font-family: $primary-font-bold;
}