@import './variables.scss';

.thin {
  font-family: $primary-font-thin;
}

.light {
  font-family: $primary-font-light;
}

.regular {
  font-family: $primary-font-regular;
}

.bold {
  font-family: $primary-font-bold;
}


.sm-text-align-left {
  text-align: left;
}
.sm-text-align-right {
  text-align: right;
}

.primary-list {
  padding-left: 18px;
  color:$footer-title-color;
  li {
    line-height: 26px;
  }
}
@media (min-width: $screen-sm) {
  .md-text-align-left {
    text-align: left;
  }
  .md-text-align-right {
    text-align: right;
  }
}

@media (min-width: $screen-md) {
  .lg-text-align-left {
    text-align: left;
  }
  .lg-text-align-right {
    text-align: right;
  }
}

@media (min-width: $screen-lg) {
  .xlg-text-align-left {
    text-align: left;
  }
  .xlg-text-align-right {
    text-align: right;
  }
}