.teacher-container {
  padding: 0 8px;
  width: auto;
  max-width: 1200px;
  margin: 150px auto 0 auto;

  .top-margin {
    margin-top: 30px;
  }

  .social-media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .row-container {
    border-bottom: 1px solid #e1e2e4;
    padding-bottom: 20px;
    margin-bottom: 30px;

    .bio-text {
      margin-top: 20px;
      font-size: 14px;
      line-height: 26px;
    }
  }

  .row-courses {
    border-bottom: 0;
  }
}