$primary-gradient: linear-gradient(135deg, #ff5f6d 0%, #ffc371 100%);
$primary-color: #2f4371;
$secondary-color: #19c895;

$primary-font-thin: MuseumCyrlThin, sans-serif;
$primary-font-light: MuseumCyrlLight, sans-serif;
$primary-font-regular: MuseumCyrlRegular, sans-serif;
$primary-font-bold: MuseumCyrlBold, sans-serif;

$top-header-font-color: rgba(255,255,255,.5);
$top-header-border-bottom: rgba(255,255,255,.15);

$bottom-header-category-gray-bg: #dae0ea;
$bottom-header-category-gray-text: #777;

$category-bg: #f6f8fa;
$category-border: 1px solid #e4e6e8;
$category-font-color: rgb(58, 65, 82);

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xlg:1200px;
