$primary-gradient: linear-gradient(135deg, #ff5f6d 0%, #ffc371 100%);
$primary-color: #536dfe;
$secondary-color: #19c895;
$title-primary: rgba(0,0,0,.87);

$blue-secondary: #385bce;
$rose-color: #ff1f59;

$primary-font-thin: MuseumCyrlThin, sans-serif;
$primary-font-light: MuseumCyrlLight, sans-serif;
$primary-font-regular: MuseumCyrlRegular, sans-serif;
$primary-font-bold: MuseumCyrlBold, sans-serif;

$top-header-font-color: rgba(255,255,255,.5);
$top-header-border-bottom: rgba(255,255,255,.15);

$bottom-header-category-gray-bg: #dae0ea;
$bottom-header-category-gray-text: #777;

$category-bg: #f6f8fa;
$category-border: 1px solid #e4e6e8;
$category-font-color: rgb(58, 65, 82);

$footer-top-border: #ccc;
$footer-title-color: #273044;
$footer-p-color: #aaaaaa;
$footer-link-color: #536dfe;

$modal-tab-bg-color: #f0f4fa;
$modal-tab-bg-color-active: #fff;
$modal-input-label-color: #385bce;
$modal-login-bg-color: #385bce;
$white: #fff;

$home-svg-blocks-border: #e0e0e0;
$home-svg-blocks-button-color: #fff;

$subscribe-to-newsletter-color: #fff;

$testimonials-position-color: rgb(168, 168, 168);
$testimonials-hr-color: #ccc;

//screen resolutions, responsiveness
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xlg:1200px;

:export {
    primary-gradient:$primary-gradient;
    primary-color:$primary-color;
    secondary-color:$secondary-color;
    title-primary:$title-primary;

    blue-secondary:$blue-secondary;
    rose-color:$rose-color;

    primary-font-thin:$primary-font-thin;
    primary-font-light:$primary-font-light;
    primary-font-regular:$primary-font-regular;
    primary-font-bold:$primary-font-bold;

    top-header-font-color:$top-header-font-color;
    top-header-border-bottom:$top-header-border-bottom;

    bottom-header-category-gray-bg:$bottom-header-category-gray-bg;
    bottom-header-category-gray-text:$bottom-header-category-gray-text;

    category-bg:$category-bg;
    category-border:$category-border;
    category-font-color:$category-font-color;

    footer-top-border:$footer-top-border;
    footer-title-color:$footer-title-color;
    footer-p-color:$footer-p-color;
    footer-link-color:$footer-link-color;

    modal-tab-bg-color:$modal-tab-bg-color;
    modal-tab-bg-color-active:$modal-tab-bg-color-active;
    modal-input-label-color:$modal-input-label-color;
    modal-login-bg-color:$modal-login-bg-color;
    white: $white;

    home-svg-blocks-border:$home-svg-blocks-border;
    home-svg-blocks-button-color:$home-svg-blocks-button-color;

    subscribe-to-newsletter-color:$subscribe-to-newsletter-color;

    testimonials-position-color:$testimonials-position-color;
    testimonials-hr-color:$testimonials-hr-color;
  }